*{
    font-family: 'Spartan', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #222222;


}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 1;
}
nav .logo{
    float: left;

}

nav.black{
    background: rgba(0, 0, 0, .8);
}
nav .logo img{
    height: 80px;
    transition: .5s;
}
nav ul{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    line-height: 80px;
    color:white;
    padding: 5px 20px;
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
nav ul li a.active,
nav ul li a:hover
{
    
    color:  #fff;
    background: #f00;
}
.content {
    
    width: 100%;
}
.main-section {
    height: 300px;
    overflow: hidden;
    position: relative;
}
.main-section-text{
    bottom: 20px;
    left: 20px;
    position: absolute;
    font-family: sans-serif;
    text-shadow: 2px 2px black;
}
.main-title{
    color: #fff;
    font-size: 3.0em;
    margin-bottom: 0px;
}
.main-description{
    color: #fff;
    font-size: 6.0em;
    margin-top: 0px;
}
.main-section-img{
    object-fit: cover;
    height: 900px;
    width: 100%;
    
}

.content .contact-section{
    text-align: center;
    font-family: sans-serif;
 }
 
 .content .contact-section p {
     margin-bottom: 0px;
     text-align: left;
     font-size: .8em;
     
 }
 
 .contact-section{
     background-color:black;
     color: white;
 }
 
 .contact-container{
     width: 200px;
     margin: auto;
     
 }
 .contact-box{
     display: flex;
 }
 
 input{
     width: 100%;
     
 }
 
 .send-button{
     text-align: center;
     margin-top: 10px;
     
 }
 button{
     background-color: white;
 }

 .img-container{
     width: 1280px;
     margin: 70px auto 0;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }

 .img-container .box{
     position: relative;
     width: 300px;
     height: 300px;
     background: #ff0;
     margin: 10px;
     box-sizing: border-box;
     display: inline-block;

 }

 .img-container .box .imgBox{
    position: relative;
    overflow: hidden;
 }

 .img-container .box .imgBox img{
     max-width: 100%;
     transition: transform 2s;
 }

 .img-container .box:hover .imgBox img{
    transform: scale(1.2);
 }

 .footer{
     margin-top: 20px;
     text-align: center;
     color: white;

 }

 .img-container .box .details{
     position: absolute;
     top: 10px;
     left: 10px;
     bottom: 10px;
     right: 10px;
     background: rgba(0, 0, 0, .8);
     transform: scaleY(0);
     transition: transform .5s;
 }

 .img-container .box:hover .details{
    transform: scaleY(1);
 }
 .img-container .box .details .content{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-align: center;
     padding: 15px;
     color: #fff;
 }

 .img-container .box .details .content h2{
     margin: 0;
     padding: 0;
     font-size: 20px;
     color: #ff0;
 }
 .img-container .box .details .content p{
     margin:10px 0 0;
     padding: 0;
 }


 


